.provide-container{
    background-color: #1A1A1A;
}
.weprovide-text{
    margin-top: -5%;
}
.provide-image{
    padding-top: 70px;
}
@media screen and (max-width:950px) {
    .weprovide-text{
        font-size: 96px;
    }
}
@media screen and (max-width:650px) {
    .weprovide-text{
        font-size: 72px;
    }
}
@media screen and (max-width:480px) {
    .weprovide-text{
        font-size: 60px;
    }
}